# Graphistry Netflow Demo

In this example we are taking millions of rows of netflow (network traffic flow) data in order to search for anomalous activity within a network. We will query 70M+ rows of network security data (netflow) with BlazingSQL and pass it to Graphistry for visualization.

In [1]:
import os
import cudf
import graphistry
from blazingsql import BlazingContext

### Download Data
The next cell will check for the existance of a `data` directory & download the data necessary to run this demo (unless you already have the data in the `data` directory).

In [2]:
# download taxi data
base_url = 'https://blazingsql-colab.s3.amazonaws.com/netflow_data/'
fn = 'nf-chunk2.csv'

# check if data directory exists
if not os.path.isfile('data'):
    print('creating blazingsql directory')
    # create folder
    os.system('mkdir ../../data/blazingsql')
    
# check if we already have the file
if not os.path.isfile('data/' + fn):
    # we don't let me know we're downloading it now
    print(f'Downloading {base_url + fn} to data/{fn}')
    # save nf-chunk2 to data folder, may take a few minutes to download
    urllib.request.urlretrieve(base_url + fn, 'data/' + fn)
# we already have data
else:
    # let us know
    print(f'data/{fn} already downloaded')

creating blazingsql directory
data/nf-chunk2.csv already downloaded

## Blazing Context
Here we are importing cuDF and BlazingContext. You can think of the BlazingContext much like a Spark Context (i.e. where information such as FileSystems you have registered and Tables you have created will be stored). If you have issues running this cell, restart runtime and try running it again.

In [3]:
# connect to BlazingSQL
bc = BlazingContext(pool=False)

BlazingContext ready

### Create & Query Tables
In this next cell we identify the full path to the data.

In [4]:
# make wildcard path to load all 4 parquet files into blazingsql
path = f'{os.getcwd()}/data/nf*.csv'

# what's the path? 
path

'/home/winston@blazingdb.com/bsql-demos/data/nf*.csv'

#### Create Table

In [5]:
%%time
# blazingsql table from file path
bc.create_table('netflow', path, header=0)

CPU times: user 15.1 ms, sys: 0 ns, total: 15.1 ms
Wall time: 13.1 ms

In [6]:
%%time
# query the whole table 
bc.sql('SELECT * FROM netflow').tail()

CPU times: user 7.14 s, sys: 4.14 s, total: 11.3 s
Wall time: 10.8 s

,TimeSeconds,parsedDate,dateTimeStr,ipLayerProtocol,ipLayerProtocolCode,firstSeenSrcIp,firstSeenDestIp,firstSeenSrcPort,firstSeenDestPort,moreFragments,contFragments,durationSeconds,firstSeenSrcPayloadBytes,firstSeenDestPayloadBytes,firstSeenSrcTotalBytes,firstSeenDestTotalBytes,firstSeenSrcPacketCount,firstSeenDestPacketCount,recordForceOut
21526133,1.365033e+09,2013-04-03 23:57:49,2.013040e+13,6,TCP,10.15.7.85,172.20.0.15,26886,80,0,0,11,19,503,297,619,5,2,0
21526134,1.365033e+09,2013-04-03 23:57:49,2.013040e+13,6,TCP,10.15.7.85,172.20.0.15,27614,80,0,0,5,19,503,297,619,5,2,0
21526135,1.365033e+09,2013-04-03 23:57:49,2.013040e+13,6,TCP,10.15.7.85,172.20.0.15,26887,80,0,0,11,19,503,297,619,5,2,0
21526136,1.365033e+09,2013-04-03 23:57:49,2.013040e+13,6,TCP,10.15.7.85,172.20.0.15,27978,80,0,0,2,19,503,297,619,5,2,0
21526137,1.365033e+09,2013-04-03 23:57:49,2.013040e+13,6,TCP,10.15.7.85,172.20.0.15,26888,80,0,0,11,19,503,297,619,5,2,0

#### Query
With the table made, we can simply run a SQL query.

We are going to run some joins and aggregations in order to condese these millions of rows into thousands of rows that represent nodes and edges.

In [7]:
%%time
# what are we looking for 
query = '''
        SELECT
            firstSeenSrcIp as source,
            firstSeenDestIp as destination,
            count(firstSeenDestPort) as targetPorts,
            SUM(firstSeenSrcTotalBytes) as bytesOut,
            SUM(firstSeenDestTotalBytes) as bytesIn,
            SUM(durationSeconds) as durationSeconds,
            MIN(parsedDate) as firstFlowDate,
            MAX(parsedDate) as lastFlowDate,
            COUNT(*) as attemptCount
        FROM
            netflow
        GROUP BY
            firstSeenSrcIp,
            firstSeenDestIp
            '''
# run sql query (returns cuDF DataFrame)
gdf = bc.sql(query)

CPU times: user 5.17 s, sys: 3.1 s, total: 8.26 s
Wall time: 8.14 s

In [8]:
# how do the results look?
gdf.tail(25)

,source,destination,targetPorts,bytesOut,bytesIn,durationSeconds,firstFlowDate,lastFlowDate,attemptCount
18856,10.0.0.9,172.30.1.16,1,632,391,0,2013-04-03 11:00:13,2013-04-03 11:00:13,1
18857,172.20.1.100,10.0.0.13,71,32532,44310,7,2013-04-03 06:50:40,2013-04-03 11:17:30,71
18858,10.0.0.7,172.10.1.44,2,1264,782,0,2013-04-03 09:56:02,2013-04-03 10:21:18,2
18859,172.30.2.133,10.1.0.76,67,30202,41315,13,2013-04-03 07:05:51,2013-04-03 12:05:57,67
18860,172.30.1.101,10.0.0.10,78,35358,49320,2,2013-04-03 06:50:53,2013-04-03 11:59:00,78
18861,172.10.1.84,10.0.0.14,102,46422,63979,27,2013-04-03 06:49:55,2013-04-03 14:59:48,102
18862,10.0.0.14,172.30.1.2,3,1258,500,0,2013-04-03 09:58:52,2013-04-03 11:15:37,3
18863,172.10.1.136,10.0.0.5,74,33643,46606,9,2013-04-03 06:51:00,2013-04-03 14:52:21,74
18864,172.10.1.207,10.0.0.10,88,40304,55017,19,2013-04-03 06:48:47,2013-04-03 15:15:35,88
18865,10.1.0.75,172.10.1.13,1,633,392,0,2013-04-03 10:24:26,2013-04-03 10:24:26,1
18866,172.10.0.6,172.10.1.60,1,74,0,0,2013-04-03 06:47:42,2013-04-03 06:47:42,1
18867,10.0.0.13,172.20.2.70,1,579,392,0,2013-04-03 10:19:01,2013-04-03 10:19:01,1
18868,172.20.1.52,10.0.0.7,75,34096,46938,18,2013-04-03 06:48:59,2013-04-03 11:19:58,75
18869,172.20.1.220,10.0.0.10,115,52222,72687,38,2013-04-03 06:50:09,2013-04-03 15:14:14,115
18870,172.20.1.33,10.0.0.9,70,31885,44132,5,2013-04-03 06:49:23,2013-04-03 11:30:43,70
18871,172.10.2.127,10.0.0.7,84,35928,52518,34,2013-04-03 06:50:06,2013-04-03 15:08:52,84
18872,172.10.1.74,10.0.0.10,113,50934,70371,19,2013-04-03 06:52:49,2013-04-03 15:13:30,113
18873,172.30.1.205,10.0.0.12,120,53996,74393,28,2013-04-03 06:55:36,2013-04-03 14:59:33,120
18874,172.10.0.6,172.30.1.182,4,296,0,0,2013-04-03 01:13:14,2013-04-03 05:28:33,4
18875,172.10.2.95,10.0.0.13,76,33038,47645,28,2013-04-03 06:49:14,2013-04-03 14:46:42,76
18876,10.0.0.5,172.30.1.70,1,632,391,0,2013-04-03 09:53:32,2013-04-03 09:53:32,1
18877,10.1.0.100,172.10.1.111,1,634,393,0,2013-04-03 10:37:24,2013-04-03 10:37:24,1
18878,172.30.2.64,10.0.0.11,67,28056,38289,20,2013-04-03 06:54:54,2013-04-03 12:12:36,67
18879,172.10.1.78,10.1.0.76,120,54886,75443,23,2013-04-03 06:49:43,2013-04-03 14:55:39,120
18880,10.1.0.75,172.30.1.13,1,633,392,0,2013-04-03 09:39:27,2013-04-03 09:39:27,1

# BlazingSQL + Graphistry

In [9]:
%%time
# acquire your own key to make this run
graphistry.register(server='labs.graphistry.com', key=cudf.read_csv('gkey')['0'][0])

plotter = graphistry.bind(source="source", destination="destination")

# convert GPU DataFrame (gdf) .to_pandas() & visualize with Graphistry
plotter.plot(gdf.to_pandas())

CPU times: user 702 ms, sys: 15.8 ms, total: 718 ms
Wall time: 2.45 s